{
  "extends": ["react-app", "airbnb", "prettier"],
  "globals": {
    "window": false,
    "document": false,
    "fetch": false
  },
  "rules": {
    "dot-notation": 0,
    "no-plusplus": 0,
    "no-use-before-define": 0,
    "no-console": 0,
    "no-underscore-dangle": 0,
    "func-names": ["off", "as-needed"],
    "semi": "error",
    "linebreak-style": "off",
    "no-param-reassign": ["error", { "props": false }],
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/no-unused-state": 0,
    "react/destructuring-assignment": 0,
    "react/require-default-props": 0,
    "react/forbid-prop-types": [2, { "forbid": ["any", "array"] }],
    "import/no-unresolved": 0,
    "prefer-destructuring": 0,
    "class-methods-use-this": 0,
    "quotes": ["warn", "double"],
    "no-return-assign": 0
  },
  "plugins": ["prettier", "json", "markdown", "html"],
  "env": {
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
