html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
}
